.header {
    background: white;
    color: black;
    padding: 0rem 0; 
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    border-bottom: 1px solid gray; /* Línea ploma */
    z-index: 10;
    height: 120px; 
}

.header a {
    color: black;
    text-decoration: none;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    letter-spacing: 15px;
    font-size: 1.3em;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation ul li {
    display: inline-block;
    margin-left: 1rem;
}

.navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}

.navigation ul li a:hover {
    color: #147B2A;
}

/* Cuadro verde para "Regístrate ahora" */
.navigation ul li a.register-btn {
    background-color: #147B2A;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.navigation ul li a.register-btn:hover {
    background-color: #147B2A;
    color: black;
}

.register-btn {
    background-color: #147B2A;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none; /* Elimina el subrayado */
    display: inline-block; /* Hace que el enlace se comporte como un botón */
    margin-top: 1rem;
}

.register-btn:hover {
    background-color: #147B2A;
    color: black;
}

.logo-img {
    width: 150px;
    height: auto;
    mix-blend-mode: multiply; /* Elimina el fondo blanco en algunos casos */
}

.logo-nav-container img {
    margin: 0;
    padding: 0;
    display: block; 
}

.content-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 140px; 
    padding: 2rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.text-container {
    flex: 1;
    padding-right: 2rem;
    text-align: center;
}

.image-container {
    flex: 1;
}

.content-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: black;
    text-align: center;
}

.app-buttons {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    margin-top: 1rem; 
}

.image-container {
    display: flex;
    justify-content: center; 
    gap: 1rem; 
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}



